body{
    margin: 0;
    height:     100vh;
    box-sizing: border-box;
    background-color: #000;
    overflow: hidden;
}
span{
background: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-256.png");
background-position: center;
background-size: cover;
width: 100px;
pointer-events: none;
height: 100px;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
animation: heart 6s infinite;

}


@keyframes heart{
    0%{
        transform: translateX(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
   
    100%{
        transform: translate(-50%,5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}